
<html>
    <head>
    <title>Etkinlik Onaylama Reddetme</title>
    <link rel="stylesheet" href="/css/tableForm.css">
</head>
<body>
<div>
    <h2>Onay Bekleyen Etkinlikler</h2>
    <table>
        <thead>
            <tr>
                <th>Etkinlik Adı</th>
                <th>Kategori</th>
                <th>Açıklama</th>
                <th>Tarih</th>
                <th>Saat</th>
                <th>Süre</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="etkinlik : ${OnayBekleyenEtkinlik}">
                <td th:text= "${etkinlik.etkinlikadı}"></td>
                <td th:text= "${etkinlik.kategori}"></td>
                <td th:text= "${etkinlik.açıklama}"></td>
                <td th:text= "${etkinlik.tarih}"></td>
                <td th:text= "${etkinlik.saat}" ></td>
                <td th:text= "${etkinlik.süresi}" ></td>
                <td>
                    <form th:action="@{/onayla/{id}(id=${etkinlik.id})}" method="POST">  
                        <button type="submit" class="onayla-button">Onayla</button>
                    </form>
                    <form th:action="@{/reddet/{id}(id=${etkinlik.id})}" method="POST">  
                        <button type="submit" class="reddet-button">Reddet</button>
                   </form>          
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
</body>
</html>
