<html>
    <head>
    <title>Etkinlik Mesajları için Etkinlik seçin</title>
<link rel="stylesheet" href="/css/tableForm.css">

</head>
<body>
<div>
 <table>
        <thead>
            <tr>
                <th>Etkinlik Adı</th>
                <th>Kategori</th>
                <th>Açıklama</th>
                <th>Tarih</th>
                <th>Saat</th>
                <th>Süre</th>
                <th>İşlem</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
            <tr th:each="etkinlik : ${etkinlikler}">
                <td th:text= "${etkinlik.etkinlikadı}"></td>
                <td th:text= "${etkinlik.kategori}"></td>
                <td th:text= "${etkinlik.açıklama}"></td>
                <td th:text= "${etkinlik.tarih}"></td>
                <td th:text= "${etkinlik.saat}" ></td>
                <td th:text= "${etkinlik.süresi}" ></td>
                <td>
                    <form th:action="@{/messages/{id}(id=${etkinlik.id})}" method="GET"> 
                        <button type="submit" class="onayla-button">Mesajları Görüntüle</button>
                    </form>  
                </td>
            </tr>
           
       </tbody>
    </table>
</div>
</body>
</html>
